:root {
  /* Colors */
  --background-color: #ffffe7;
  --secondary-background-color: #fff7e1;
  /* --accent-color: #009420; */
  --accent-color: #93e3a5;
  --button-color: #14c794;
  --text-color: #333102;
  --text-secondary-color: #ffffff;
}
